<header class="site">
  <h1 class="title"><a href="/">{{@blog.title}}</a></h1>
  <nav>
    <ul>
      <li><a href="/about" class="button">About</a></li>
      <li><a href="http://twitter.com/stevekinney" class="button">Twitter</a></li>
      <li><a href="http://github.com/stevekinney" class="button">Github</a></li>
    </ul>
  </nav>
</header>
