@import 'colors';

footer.site {
  padding: 2rem 0;
  margin-top: 3rem;
  text-align: center;
  a {
    color: $black;
    &:hover {
      color: #CCC;
    }
    &:active {
      color: #AAA;
    }
  }
}

footer.site a:not(:first-child)::before {
  content: ' — ';
  color: darken($highlight, 30);
}
