@import 'colors';

header.site {
  text-align: center;
}

header.site h1, header.site h2 {
  font-family: 'League Gothic';
  font-size: 4em;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 1rem 0 0 0;
  text-shadow: 2px 2px 2px #AAA;
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: lighten($black, 10);
    }
    &:active {
      color: lighten($black, 30);
    }
  }
}

nav ul {
  background-color: $highlight;
  border-bottom: 3px solid darken($highlight, 10);
  border-bottom: 10px solid darken($highlight, 10);
  list-style-type: none;
  padding: 0.75rem 0;
}

nav li {
  display: inline-block;
  text-shadow: 2px 2px 2px darken($highlight, 10);
  &:not(:last-child) {
    margin-right: 2rem;
  }
  a {
    color: white;
    text-shadow: 2px 2px 2px darken($highlight, 10);
    &:hover {
      color: white;
      border-bottom: 1px solid white;
    }
    &:active {
      color: #EEE;
    }
  }
}
