@import 'colors';

@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/league-gothic/leaguegothic-regular-webfont.eot');
  src: url('../fonts/league-gothic/leaguegothic-regular-webfont.eot?iefix') format('eot'),
       url('../fonts/league-gothic/leaguegothic-regular-webfont.woff') format('woff'),
       url('../fonts/league-gothic/leaguegothic-regular-webfont.ttf') format('truetype'),
       url('../fonts/league-gothic/leaguegothic-regular-webfont.svg#webfontZam02nTh') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $black;
  background-color: $white;
  font-family: 'Open Sans';
  font-weight: 300;
  @media screen and (min-width: 568px) {
    font-size: 1.2em;
  }
  @media screen and (min-width: 768px) {
    font-size: 1.5em;
  }
}

p, li {
  line-height: 2em;
}

a {
  color: $linkColor;
  text-decoration: none;
  -webkit-transition:color 1s;
  transition:color 1s;
  &:hover {
    color: complement($linkColor);
  }
  &:hover {
    color: lighten(complement($linkColor), 20);
  }
}

.content a {
  font-weight: 400;
}
